<wysiwyg-toolbar [buttons]="toolbarButtons" [(editMode)]="editMode" (commandExecuted)="onCommandExecuted()"></wysiwyg-toolbar>

<div class="wysiwyg-editor__container">
    <div class="wysiwyg-editor__src-container" *ngIf="editMode">
        <textarea [value]="content" class="wysiwyg-editor__src"></textarea>
    </div>
    <div class="wysiwyg-editor__content" #editor contenteditable
         (keyup)="onContentChanged()"
         (change)="onContentChanged()"
         (blur)="onBlur()"
    ></div>
</div>