body {
  margin: 0;
  background: #dedede;
  font-family: 'Roboto', sans-serif;
}

.page {
  position: absolute;
  top: 20px;
  right: 80px;
  left: 80px;
  bottom: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.body {
  flex: 1;
  padding: 20px 30px;
}

h2 {
  margin: 0 0 10px 0;
}

pre {
  background: #4e5054;
  color: #fff;
  padding: 10px;
}

.center {
  text-align: center;
}
.scroll { 
  overflow-y: scroll;
  height: 100%;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}

.scroll::-webkit-scrollbar-thumb:hover { 
  background-color: rgba(0,0,0,.3);

}

.scroll::-webkit-scrollbar{
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  transition: background-color 2s ease-out;
  border-radius:6px;
}


nav {
  display: flex;
  background: #2a2d33;
}

nav a {
  line-height: 57px;
  text-decoration: none;
  padding: 0 30px;
  color: #0C0D0E;
  border-top: 3px solid #2a2d33;
  color: #fff;
}

nav a.active {
  border-top: 3px solid #F48024;
  background: #eff0f1;
  color: #242729;
}

nav a:hover, nav a:focus {
  background: #eff0f1;
  color: #242729;
  border-top: 3px solid #F48024;
}
my-page-not-found {
  display: block;
  height: 1000px;
}



/* Tree */

my-tree {
  display: block;
  position: relative;
}

my-tree ul {
  padding-top: 20px;
  position: relative;
  margin: 0 -9px;
}

my-tree * {
  margin: 0;
  padding: 0;
}

my-tree li {
	float: left; 
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

my-tree li:only-child {
  padding-top: 0;
}

my-tree span {
  display: inline-block;
  padding: 10px;
  background: #4f515a;
  color: #fff;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}

my-tree span.checked {
  background: #ff9800;
}

my-tree span.on-push:before {
  content: "onPush";
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-30px);
  background: #4caf50;
  border-radius: 5px;
  line-height: 26px;
  padding: 0 5px;
}


my-tree li::before, my-tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid #c3c1c1;
	width: 50%; height: 20px;
}
my-tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid #c3c1c1;
}


my-tree li:first-child::before, my-tree li:last-child::after{
	border: 0 none;
}

my-tree li:last-child::before{
	border-right: 2px solid #c3c1c1;
	border-radius: 0 5px 0 0;
}
my-tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

my-tree ul::before{
	content: '';
	position: absolute; top: 0; 
  left: 50%;
	border-left: 2px solid #c3c1c1;
	width: 0; 
  height: 20px;
}

my-tree > ul:before,
my-tree > ul > li:before {
  display: none;
}

/* Tree end */

.log {
  position: fixed;
  top: 0;
  right: 0;
}

.log-item {
  padding: 0 10px;
  line-height: 20px;
  text-align: center;
}

.btn {
  color: #FFF;
  line-height: 40px;
  padding: 0 10px;
  background-color: #369;
  border: none;
  cursor: pointer;
}

.btn-run {
  position: absolute;
  top: 0;
  right: 0;
}

/* Table */

my-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

table {
    background: #fff none repeat scroll 0 0;
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

thead {
    border-radius: 5px;
}
thead th {
    background-image: linear-gradient(#636569, #2a2d33);
    background-size: 100% auto;
    border-top: 1px solid #858d99;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
thead th:first-child {
    border-top-left-radius: 5px;
}
thead th:last-child {
    border-top-right-radius: 5px;
}
tbody tr td {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
}
tbody tr:nth-child(2n) {
    background: #f0f3f5 none repeat scroll 0 0;
}
tbody tr:last-child td {
    border-bottom: medium none;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  display: inline-block;
}

.page-link {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  background: #2a2d33;
  color: #fff;
  text-decoration: none;
}

.page-link.active {
  color: #2a2d33;
  background: #eff0f1;
}

.pagination li.disabled .page-link {
  background: #b7b4ae;
}

.pagination-current-page {
  float: right;
  margin-top: 10px;
}

/* Forms */

.form-group {
  margin: 10px 0;
}

input[type="text"] {
  line-height: 24px;

}

.form-control {
  margin-bottom: 15px;
}

.form-control label {
  margin-right: 10px;
}

.form-control:last-of-type {
  margin-bottom: 0;
}

.text-danger {
  color: red;
}