<div class="page">
  <header class="header">
    <nav>
      <a routerLink="/chips" routerLinkActive="active">Chips</a>
      <a routerLink="/editor" routerLinkActive="active">Editor</a>
      <a routerLink="/tree" routerLinkActive="active">Tree</a>
      <a routerLink="/table" routerLinkActive="active">Table</a>
      <a routerLink="/template-driven-forms" routerLinkActive="active">Template-driven forms</a>
      <a routerLink="/reactive-driven-forms" routerLinkActive="active">Reactive-driven forms</a>
    </nav>
  </header>
  <div class="body scroll">    
      <router-outlet></router-outlet>
  </div>
</div>